<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="#{title.dashboard}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/styleHome.css}">
</head>

<body>
	<header>
		<span>ユーザー一覧</span>
		<span>ログインユーザーID：[[${loginUserId}]]</span>
		<form th:action="@{/logout}" method="post"><input type="submit" name="logout" class="logButtom" value="ログアウト"></form>
	</header>
	<main>
		<div th:if="${userList} != null">

			<div class="buttomArea">
				<form th:action="@{/userRegist/regist}" method="post">
					<input type="submit" name="regist" class="subButtom" value="登録">
				</form>
			</div>
			<div class="listArea">
				<table>
					<tr>
						<th></th>
						<th>ユーザーID</th>
						<th>ユーザー名</th>
						<th>パスワード</th>
						<th>権限</th>
					</tr>
					<tr th:each="user:${userList}">
						<td>
							<form th:action="@{/userRegist/regist}" method="post">
								<input type="submit" name="edit" class="subButtom" value="編集">
								<input type="submit" name="delete" class="subButtom" value="削除">
								<input type="hidden" th:name="userid" th:value="${user.userid}">
								<input type="hidden" th:name="username" th:value="${user.username}">
								<input type="hidden" th:name="password" th:value="${user.password}">
								<input type="hidden" th:name="role" th:value="${user.role}">
							</form>
						</td>
						<td th:text="${user.userid}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.password}"></td>
						<td th:text="${user.role}"></td>
					</tr>
				</table>
			</div>
			</form>
		</div>
	</main>
</body>

</html>